<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pipes</title>
</head>
<body>
    <h1>Pipes</h1>

    <!-- Pipe 'json' -->
    <p>Json: {{obj | json}}</p>
    <!-- Descripción: Este pipe formatea el objeto 'obj' como una cadena JSON legible. -->

    <!-- Pipe 'titlecase' -->
    <p>Texto: {{stringVar | titlecase}}</p>
    <!-- Descripción: Este pipe convierte el texto en formato de título, con la primera letra de cada palabra en mayúscula. -->

    <!-- Pipe 'date' -->
    <p>Date: {{dateVar | date}}</p>
    <!-- Descripción: Este pipe formatea la fecha en función de la configuración regional actual, con un formato legible. -->

    <!-- Pipe 'date' con formato personalizado 'medium' -->
    <p>Date medium: {{dateVar | date:'medium'}}</p>
    <!-- Descripción: Este pipe formatea la fecha en función de la configuración regional actual, con un formato 'medium'. -->

    <!-- Pipe 'date' con formato personalizado 'full' -->
    <p>Date full: {{dateVar | date:'full'}}</p>
    <!-- Descripción: Este pipe formatea la fecha en función de la configuración regional actual, con un formato 'full'. -->

    <!-- Pipe 'date' con formato personalizado 'shortTime' -->
    <p>Date shortTime: {{dateVar | date:'shortTime'}}</p>
    <!-- Descripción: Este pipe formatea la fecha en función de la configuración regional actual, con un formato 'shortTime'. -->

    <!-- Pipe 'date' con formato personalizado 'mm:ss' -->
    <p>Date mm:ss: {{dateVar | date:'mm:ss'}}</p>
    <!-- Descripción: Este pipe formatea la fecha en función de la configuración regional actual, mostrando los minutos y segundos. -->

    <!-- Pipe 'date' con formato personalizado 'fullTime' -->
    <p>Date fullTime: {{dateVar | date:'fullTime'}}</p>
    <!-- Descripción: Este pipe formatea la fecha en función de la configuración regional actual, con un formato 'fullTime'. -->

    <!-- Pipe 'currency' -->
    <p>Currency: {{currencyVar | currency}}</p>
    <!-- Descripción: Este pipe formatea el número 'currencyVar' como moneda utilizando la configuración regional actual. -->

    <!-- Pipe 'currency' con símbolo personalizado 'EUR' -->
    <p>Currency (EUR): {{currencyVar | currency:'EUR'}}</p>
    <!-- Descripción: Este pipe formatea el número 'currencyVar' como moneda utilizando el símbolo  'EUR'. -->

    <!-- Pipe 'number' -->
    <p>Decimal: {{decimalVar | number}}</p>
    <!-- Descripción: Este pipe formatea el número 'decimalVar' con un número fijo de decimales (por defecto, dos decimales). -->

    <!-- Pipe 'percent' -->
    <p>Procentaje: {{decimalVar | percent}}</p>
    <!-- Descripción: Este pipe formatea el número 'decimalVar' como un porcentaje multiplicado por 100. -->

    <!-- Pipe 'slice' -->
    <p>Texto cortado: {{ 'Angular es genial' | slice:0:3 }}</p>
    <!-- Descripción: Este pipe muestra una subcadena de la cadena proporcionada, comenzando en el índice 0 y terminando en el índice 3. -->

    <!-- Pipe 'async' -->
    <p>Observable Data: {{ data$ | async }}</p>
    <!-- Descripción: Este pipe se utiliza para mostrar el valor actual emitido por el observable 'data$' en la plantilla. -->

    <!-- Pipe personalizado 'customCurrency' -->
    <p>Precio: {{ precio | customCurrency:'€' }}</p>
    <!-- Descripción: Este es un pipe personalizado que formatea el número 'precio' como moneda y agrega el símbolo de moneda personalizado '€'. -->

</body>
</html>
